@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300..700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: #3f362d;
  background-image: url(mars.png), url(stars.png);
  background-repeat: no-repeat, repeat;
  background-position: 0px 299px;
  background-size: 363px 781px;
}
* {
  font-family: "Montserrat", sans-serif;
  color: white;
}
article {
  position: absolute;
  width: 783px;
  height: 196px;
  top: 160px;
  left: 400px;
}
#Mars_good {
  font-size: 50px; /* Размер текста */
  font-weight: bold; /* Жирный шрифт */
}
nav {
  display: flex;
  justify-content: space-evenly;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
li {
  margin-right: 50px;
  display: inline-block;
}
a {
  text-decoration: none;
}
#mars_title {
  font-size: 36px; /* Размер текста */
  font-weight: bold; /* Жирный шрифт */
  text-decoration: solid;
}
#btn {
  display: flex;
  background-color: #de8559;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#btn:hover {
  background-color: #d8936c;
}
.nav_link:hover {
  color: #de8559;
}
form {
  margin: 404px 0px 0px 499px;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  width: 587.5px;
  height: 783px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title {
  font-size: 24px; /* Размер текста */
  font-weight: 600; /* Жирный шрифт */
  text-align: center;
  margin-top: 20px;
  width: 370px;
  height: 70px;
}
input {
  outline: none;
  border-radius: 10px;
  padding: 5px 20px;
  width: 245px;
  height: 30px;
}
input:focus {
  border: #de8559 3px solid;
}
.travel {
  color: #de8559;
}
.btn_submit {
  display: flex;
  background-color: #de8559;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.form_name {
  width: 370px;
  height: 92.5px;
}
main {
  height: 592.6667px;
  top: 1556.6667px;
  left: 176px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarif_title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 60.95px;
  transform: translateX(-300px);
}
.tarif_eco,
.tarif_buisness,
.tarif_VIP {
  width: 200px;
  height: 306.67px;
  border: 1px solid #de8559;
  display: inline-block;
}

.eco_1,
.eco_4,
.buisness_1,
.buisness_4,
.VIP_1,
.VIP_4 {
  font-size: 20px;
  line-height: 24.38px;
  text-align: center;
}

.eco_2,
.eco_3,
.buisness_2,
.buisness_3,
.VIP_2,
.VIP_3 {
  font-size: 13.33px;
  line-height: 16.25px;
  text-align: center;
}

.half-circle {
  width: 200px;
  height: 100.67px;
}
.btn_submit_tarif {
  width: 168.67px;
  height: 46.67px;
  display: flex;
  background-color: #de8559;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
}
.tarif_block {
  display: flex;
  justify-content: space-evenly;
  column-gap: 100px;
}
.photogalery {
  position: relative;
  min-height: 100vh;
}
.block_title {
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 100px;
}
.photogalery {
  max-width: 200px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
