@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300..700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: #3f362d;
  background-image: url(mars.png), url(stars.png);
  background-repeat: no-repeat, repeat;
  background-position: 0px 299px;
  background-size: 363px 781px;
}
* {
  font-family: "Montserrat", sans-serif;
  color: white;
}
article {
  position: absolute;
  width: 783px;
  height: 196px;
  top: 160px;
  left: 400px;
}
#Mars_good {
  font-size: 50px; /* Размер текста */
  font-weight: bold; /* Жирный шрифт */
}
nav {
  display: flex;
  justify-content: space-evenly;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
li {
  margin-right: 50px;
  display: inline-block;
}
a {
  text-decoration: none;
}
#mars_title {
  font-size: 36px; /* Размер текста */
  font-weight: bold; /* Жирный шрифт */
  text-decoration: solid;
}
#btn {
  display: flex;
  background-color: #de8559;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
